@import 'colorPalette';

button, .Button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	min-width: 120px;
	padding: 0 24px;
	padding-bottom: 1px;
	border: none;
	font-family: inherit;
	font-size: 17px;
	background: $accentColorNormal;
	color: $foreColorLight;
	border-radius: 20px;
	cursor: pointer;
	user-select: none;
	transition: 100ms all;
	text-decoration: none;

	&.LargeButton{
		font-size: 20px;
		height: 60px;
		border-radius: 30px;
		padding: 0 40px;

		& > i{
			margin-left: -8px;
			margin-top: 2px;
			margin-right: 16px;
			font-size: 1.4em;
		}
	}

	.CanFocus &:focus,
	&:active{
		background: $accentColorDark;
	}

	&:hover, &:focus{
		color: $foreColorLight;
	}

	&:disabled{
		opacity: 0.33;
		cursor: default;
		text-decoration: none;
	}

	&:not(:disabled){
		box-shadow: inset 0px -2px 0px $accentColorDark;
	}

	&:active{
		transform: scale(0.95);
	}

	&.DestructiveButton{
		background: $dangerColorNormal;

		.CanFocus &:focus,
		&:active{
			background: $dangerColorDark;
		}

		&:not(:disabled){
			box-shadow: inset 0px -2px 0px $dangerColorDark;
		}
	}

	&.SecondaryButton{
		height: auto;
		margin: 4px 0;
		min-width: auto;
		padding: 4px;
		color: inherit;
		background: transparent;
		border-radius: 0;
		box-shadow: none;

		.CanFocus &:focus,
		&:not(:disabled):hover{
			text-decoration: underline;
			background: transparent;
			color: $foreColorNormal;
		}

		&.DestructiveButton{
			color: $dangerColorDark;
			box-shadow: none;

			&:not(:disabled):hover{
				text-decoration: underline;
				background: transparent;
				color: $dangerColorDark;
			}
		}

		& > i{
			margin-left: 0;
			margin-right: 4px;
		}
	}

	&.DiscordButton{
		background: $discordColor;
		box-shadow: inset 0px -2px 0px $discordColorDark;

		.CanFocus &:focus,
		&:active{
			background: $discordColorDark;
		}
	}

	& > i{
		margin-left: -5px;
		margin-right: 12px;
		font-size: 1.15em;
	}
}

.ButtonContainer{
	display: flex;
	width: 100%;
	margin-top: 32px;
	flex-direction: row-reverse;
	justify-content: flex-start;
	align-items: center;

	& > *{
		margin-left: 24px !important;
	}
}
