$accentColorLight: rgb(157,191,203);
$accentColorNormal: rgb(0, 169, 224);
$accentColorDark: rgb(0, 117, 155);

$foreColorNormal: rgb(0, 0, 0);
$foreColorMedium: rgb(127, 127, 127);
$foreColorMediumLight: rgb(192, 192, 192);
$foreColorLight: rgb(255, 255, 255);

$backColorLight: rgb(255, 255, 255);
$backColorNormal: rgb(245, 245, 245);
$backColorMedium: rgb(230, 230, 230);
$backColorDark: rgb(0, 0, 0);

$dangerColorNormal: rgb(231, 76, 60);
$dangerColorDark: rgb(192, 57, 43);

$successColorNormal: rgb(39, 174, 96);
$successColorDark: rgb(30, 130, 76);

$discordColorLight: rgb(166, 183, 247);
$discordColor: rgb(114, 137, 218);
$discordColorDark: rgb(87, 102, 156);
