$accentColorLight: rgb(157,191,203);
$accentColorNormal: rgb(0, 169, 224);
$accentColorDark: rgb(0, 117, 155);

$foreColorNormal: rgb(0, 0, 0);
$foreColorMedium: rgb(100, 100, 100);
$foreColorLight: rgb(255, 255, 255);

$backColorLight: rgb(255, 255, 255);
$backColorNormal: rgb(245, 245, 245);
$backColorMedium: rgb(230, 230, 230);
$backColorDark: rgb(0, 0, 0);