@import "colorPalette";

::-ms-input-placeholder{
	color: $accentColorLight;
}

::placeholder{
	color: $accentColorLight;
	opacity: 1;
}

form{
	display: flex;
	flex-direction: column;
}

/// Vstupní prvky (inputy)
label{
	display: inline-flex;
	flex-direction: column-reverse;
	margin-bottom: 16px;
	user-select: none;
	position: relative;

	&.Checkbox{
		margin-right: auto;
	}

	& > *{
		transition: all 100ms;
	}

	input[type=text],
	input[type=search],
	input[type=password]{
		height: 50px;
		width: 100%;
		padding: 0 16px;
		font-size: 17px;
		background: $backColorLight;
		border: 1px solid $accentColorLight;
		border-radius: 3px;

		&:not(:disabled):not(:focus):hover,
		&:read-only:hover{
			border-color: $accentColorNormal;
		}

		&:not(:read-only):focus{
			border-color: $accentColorDark;

			& + span{
				font-weight: 700;
			}
		}

		&:disabled{
			color: $foreColorMedium;
			background: $backColorNormal;
		}
	}

	input[type=search]{
		border-radius: 25px;
		padding: 0 24px;
		& + span{
			display: none;
		}

		& ~ button{
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			margin: 0;
			padding-right: 12px;
			font-size: 20px;
			border-top-right-radius: 25px;
			border-bottom-right-radius: 25px;
			text-decoration: none !important;

			.CanFocus &:focus i:before,
			&:hover i:before{
				font-weight: 900;
			}
		}
	}

	input[type=checkbox],
	input[type=radio]{
		width: 0;
		height: 0;

		&:disabled + span{
			opacity: 0.33;
		}

		& + span{
			display: flex;
			align-items: center;
			font-size: inherit;
			margin-left: 0;
			margin-right: auto;

			&:before{
				content: '';
				display: flex;
				align-items: center;
				justify-content: center;
				width: 28px;
				height: 28px;
				border: 1px solid $accentColorLight;
				margin-right: 8px;
				background: $backColorLight;
				font-family: 'Font Awesome 5 Pro';
				font-weight: 900;
				font-size: 14px;
				color: transparent;
				transition: 100ms all;
			}
		}

		&:checked + span{
			&:before{
				background: $accentColorNormal;
				color: $foreColorLight;
				border-color: $accentColorDark;
			}
		}

		&:not(:disabled):hover + span{
			&:before{
				border-color: $accentColorNormal;
			}
		}

		&:not(:disabled):checked:hover + span{
			&:before{
				border-color: $foreColorNormal;
			}
		}

		.CanFocus &:focus + span{
			font-weight: 700;

			&:before{
				border-color: $accentColorDark;
				border-width: 2px;
			}
		}

		.CanFocus &:focus:checked + span{
			&:before{
				background: $accentColorDark;
				border-width: 1px;
			}
		}
	}

	input[type=radio]{
		& + span:before{
			border-radius: 100px;
		}

		&:checked + span:before{
			background: $foreColorLight;
			box-shadow: inset 0px 0px 0px 7px $accentColorNormal;
		}

		.CanFocus &:focus:checked + span:before{
			background: $foreColorLight;
			box-shadow: inset 0px 0px 0px 7px $accentColorDark;
		}
	}

	input[type=checkbox]{
		& + span:before{
			content: '\f00c';
			border-radius: 3px;
		}
	}

	span{
		font-size: 14px;
		margin-left: 5px;
	}
}
