@import "colorPalette";

.PageHeader{
	display: flex;
	align-items: flex-end;
	height: 120px;

	&-wrapper{
		border-top: 3px solid $accentColorNormal;
		box-shadow: 0px 0px 150px 120px $backColorLight;
		background: $backColorLight;
		padding: 0px 20px;
	}

	.PageLogo{
		font-weight: 700;
		font-family: 'Fira Mono', monospace;
		font-size: 28px;
		text-decoration: none;
		display: block;
		padding: 5px;
		align-self: center;
		color: $accentColorDark;
		position: relative;

		&:hover, &:focus{
			color: inherit;
			text-decoration: underline;
		}

		&:after{
			content: '_';
		}

		&:before{
			content: 'BETA';
			position: absolute;
			left: -8px;
			top: -5px;
			transform: rotate(-20deg);
			font-size: 12px;
			color: $foreColorLight;
			background: $backColorDark;
			font-weight: 400;
			padding: 2px 4px;
		}

		&.finished:after{
			animation: cursor 1s 4;
			animation-timing-function: steps(1);
			animation-delay: 500ms;
			opacity: 0;
			animation-fill-mode: backwards;
		}

		&.finished.skip-animation:after{
			animation: none;
			opacity: 0;
		}

		@keyframes cursor {
			0%{opacity: 1;}
			50%{opacity: 0;}
			100%{opacity: 1;}
		}
	}

	nav{
		display: flex;
		margin: auto;
		margin-right: 0;

		a{
			text-decoration: none;
			color: $accentColorDark;
			display: flex;
			align-items: center;
			margin: auto 12px;
			padding: 5px;

			&:hover, &:focus{
				color: inherit;
			}

			i{
				padding-right: 8px;
				font-size: 20px;
			}
		}
	}

	.SearchInput{
		display: flex;
		border: 1.3px solid $accentColorDark;
		border-radius: 1000px;
		margin: auto 0;
		margin-left: 10px;

		input[type=search]{
			background: none;
			border: none;
			font-family: inherit;
			font-size: inherit;
			color: inherit;
			padding: 10px 20px;
			padding-right: 0;
			width: 220px;
			border-top-left-radius: inherit;
			border-bottom-left-radius: inherit;
		}

		input[type=submit]{
			padding: 0 20px 0 5px;
			font-size: 20px;
			color: $accentColorDark;
			font-family: 'Font Awesome 5 Pro';
			border: none;
			background: transparent;
			cursor: pointer;
			display: flex;
			align-items: center;
			border-top-right-radius: inherit;
			border-bottom-right-radius: inherit;

			&:hover, &:focus{
				color: $foreColorNormal;
				font-weight: 900;
			}
		}
	}
}
