@import "cssReset";
@import "colorPalette";
@import "noscript";
@import "typography";
@import "pageHeader";
@import "pageFooter";
@import "forms";
@import "genericMixins";

body{
	font-size: 16px;
	background: $backColorNormal;
	color: $foreColorNormal;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	@include serifFont;
}

html{
	display: flex;
	flex-direction: column;
}

html, body{
	min-height: 100%;
}

.MainContent{
	display: flex;
	flex-grow: 1;
	align-items: flex-start;
	margin-top: 40px;
	margin-bottom: 100px;

	& > *{
		flex-grow: 1;
	}
}

.card{
	@include cardLarge;
}

.WidthLimitedWrapper{
	display: flex;
	align-items: flex-start;

	& > * {
		max-width: 1200px;
		width: 100%;
		margin: 0 auto;
	}
}

// TODO Přesunout fuč

@keyframes showHistogram{
	0%{
		transform: translateY(20px);
		opacity: 0;
	}

	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.Histogram{
	width: 350px;
	height: 350px;
	//border: 1px solid lime;
	//animation: showHistogram 500ms;
}

.OverviewGraph{
	width: calc( 100% + 96px );
	height: 200px;
	margin-left: -48px;
	margin-bottom: 20px;
}

.GraphLabel{
	display: flex;
	align-items: center;
	margin: 12px 0px;
	font-size: 15px;
	color: $foreColorMedium;

	&:before{
		content: "";
		display: block;
		width: 14px;
		height: 14px;
		border-radius: 10px;
		background-color: rgb(0, 117, 155);
		margin-right: 8px;
	}

	&.secondary:before{
		background-color: rgb(199, 143, 0);
	}
}

.Abbreviation{
	background: $accentColorDark;
	color: $foreColorLight;
	border-radius: 3px;
	padding: 4px 8px;
	margin-right: 4px;
	font-size: 16px;
	font-weight: normal;
	line-height: 1rem;
	vertical-align: middle;
	display: inline;
	@include monospaceFont;
}
