@import '../colorPalette';

.Body-About{
	.PageHeader{
		&-wrapper{
			padding-bottom: 400px;
			//margin-bottom: -400px;
		}
	}

	.PageLogo{
		font-size: 48px;
		transform: translateY(170px);

		&:before{
			font-size: 18px;
		}
	}
}

@keyframes PageAboutHeaderShow{
	0% {opacity: 0}
	100% {opacity: 1}
}

.Page.About{
	header{
		color: $accentColorLight;
		height: 220px;
		margin-top: 100px;

		//animation: PageAboutHeaderShow 800ms cubic-bezier(0.165, 0.84, 0.44, 1) 400ms backwards;

		a:hover, .CanFocus & a:focus{
			color: $foreColorLight;
		}

		.DiscordButton:active, .CanFocus & .DiscordButton:focus{
			background: $discordColorLight;
		}

		.LoginForm > a:last-of-type{
			margin-top: 12px;
		}
	}
}
